<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8" />
		<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
		<link th:rel="stylesheet" th:href="@{/css/CommonTextStyle.css} "/>
		<link th:rel="stylesheet" th:href="@{/css/CommonObjectStyle.css}"/>
		<link th:rel="stylesheet" th:href="@{/css/IndexStyle.css}"/>
		<link th:rel="stylesheet" th:href="@{/css/ConnectStyle.css}"/>
		<link th:rel="stylesheet" th:href="@{/css/CommonImageStyle.css}" />
		<title th:utext="#{title}"></title>
	</head>
		
	<body>
		<div class="container-fluid m-0 p-0">
			
			<div sec:authorize="isAuthenticated()">
				<div th:replace="/fragments/basic/nav-bar.html :: nav-connected(#{user.home}, true)"></div>
				
				<div class="container-fluid">
					<div class="row justify-content-center mb-5 mt-4">
						<h3 class="border-bottom border-dark">
							Dernière images ajoutées
						</h3>
					</div>
					
					<div class="row m-0 p-0 justify-content-center">
						<div th:each="image : ${images}" class="col-3">
							<img class="img-thumbnail p-0" th:src="@{/shared/image/{id}(id=${image.id})}" />
							<p class="text-justify" th:text="${image.title}"></p>
						</div>
					</div>
				</div>
			</div>
			
			<div sec:authorize="!isAuthenticated()">
				<div class="image-container">
	                <img class="col-12 m-0 p-0" th:src="@{/images/start.png} " />
	                
	                <div class="col-12 image-container-centered-top m-0 p-0 pt-2 mt-3">
						<div th:replace="/fragments/basic/nav-bar.html :: nav"></div>
	                </div>
	                
	                <div class="container-fluid col-8 image-container-centered text-center">				
						<div class="row justify-content-center mb-4">
							<h1 class="align-center mt-5" th:utext="#{need.connection}"></h1>
						</div>
						
						<div th:if="${loginError}" class="row justify-content-center mb-4">
							<p class="error" th:utext="#{connection.error}"></p>
						</div>
						
						<form th:action="@{/login}" method="post" class="px-5 pt-3 pb-5 justify-content-center font">
							<div class="row justify-content-center pb-3">
			                    <div class="row col-12 justify-content-center">
									<label class="font-weight-bold" th:utext="#{connection.username}"></label>
			                    </div>
			                    <div class="row col-4 justify-content-center">
									<input id="username" name="username" autofocus="autofocus" class="col-12" type="text"/>
			                    </div>
			                </div>
			                <div class="row justify-content-center pb-3">
			                    <div class="row col-12 justify-content-center">
									<label class="font-weight-bold" th:utext="#{connection.pass}"></label><br/>
			                    </div>
			                    <div class="row col-4">
									<input id="password" name="password" class="col-12" type="password"/>
			                    </div>
			                </div>
							<div class="row justify-content-center p-3">
			                    <button class="col-3" type="submit" id="" th:utext="#{connection.connection}">
			                        
			                    </button>
			                </div>
						</form>
					</div>
	            </div>
			</div>
			
			<div sec:authorize="isAuthenticated()">
				
			</div>
	
		</div>
   </body>
</html>