<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8" />
		<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
		<link th:rel="stylesheet" th:href="@{/css/CommonTextStyle.css} "/>
		<link th:rel="stylesheet" th:href="@{/css/CommonObjectStyle.css}"/>
		<link th:rel="stylesheet" th:href="@{/css/IndexStyle.css}"/>
		<link th:rel="stylesheet" th:href="@{/css/CommonImageStyle.css}" />
		<title th:utext="#{title}"></title>
	</head>
		
	<body>
		<div class="container-fluid m-0 p-0 bg-info">
					
			<div th:replace="/fragments/basic/nav-bar.html :: nav-connected(#{admin.category.list}, true)"></div>
			
			<div class="p-0 mt-4 ml-4 mr-4 bg-white" sec:authorize="isAuthenticated()">
			 
      			<div sec:authorize="hasRole('ROLE_ADMIN')" class="bg-info">
      				<div th:if="${creationOK}" class="row justify-content-center mb-4 bg-info">
						<p class="error" th:utext="#{admin.creation.ok}"></p>
					</div>
					<div th:if="${updateOK}" class="row justify-content-center mb-4 bg-info">
						<p class="error" th:utext="#{admin.update.ok}"></p>
					</div>
      				<div class="row pl-4 pb-3 bg-info">
      					<form th:action="@{/admin/category/new}"><button type="submit" class="font-weight-bold btn btn-success pr-3 mr-3" th:utext="#{button.create}"></button></form>
      					<form th:action="@{/admin/categories}" class="input-group col-6">
						  	<input type="text" class="form-control" th:name="tags" th:placeholder="#{admin.category.list.bysearch}">
						  	<div class="input-group-append">
						    	<button type="submit" class="input-group-text button-search" id="basic-addon2" th:utext="#{button.search}"></button>
						  	</div>
						</form>
      				</div>
					<table class="table table-striped m-0 border-top border-dark bg-white" border="1">
						<thead>
							<tr>
								<th th:utext="#{admin.id}"></th>
								<th th:utext="#{admin.label}"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="category : ${categories}">
								<th scope="row" th:utext="${category.id}">...</th>
								<th th:utext="${category.label}">...</th>
								<th>
									<a th:utext="#{admin.options.edit}" th:href="@{/admin/categories/{id}/edit(id=${category.id})}"></a>
					            </th>
							</tr>
						</tbody>
					</table>
					<div class="pt-4 pb-5 row justify-content-center bg-info">
						<h5>
							<a class="nav-link" th:href="@{/index}" th:utext="#{button.backindex}">
								
							</a>
						</h5>
					</div>
				</div>
			
			</div>
			
		</div>
   </body>
</html>